<div class="list-group">
    <a id="DashboardNavButton" class="list-group-item" style="color:#666" href="#Dashboard"><i class="fa fa-dashboard fa-fw"></i> Care Coordination</a>
    @* <a class="list-group-item" id="SearchClientButtonNav" style="color:#666"  data-toggle="modal" data-target="#searchClientModalNav" href="#"><i class="fa fa-search fa-fw"></i>Search</a>*@
    <a id="ReportNavButton" class="list-group-item" style="color:#666" href="#Reports"><i class="fa fa-file-pdf-o fa-fw"></i> Reports</a>
    @*<a id="SnapshotNavButton" class="list-group-item" style="color:#666" href="#Snapshot"><i class="fa fa-signal fa-fw"></i> Billing Snapshot</a>*@
    <a class="list-group-item" style="color:#666" href="@Url.Action("Index", "Home")"><i class="fa fa-map-marker fa-fw"></i> Agency Management</a>
    @*<a class="list-group-item" style="color:#666" href="@Url.Action("Index", "Home")"><i class="fa fa-bar-chart-o fa-fw"></i> Core Indicators</a>*@
    <a class="list-group-item" style="color:#666" href="#"><i class="fa fa-youtube-play fa-fw"></i> Training</a>
</div>
