<button id="ToggleSearchButton" type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>


<script type="text/javascript">

    $(function () {


        $('#ToggleSearchButton').click(function () {


            $("#SearchContainer").css("display", "block");

        });


    });


</script>




   


