@model IEnumerable<CTL.Models.Content>


<ul class="dropdown-menu">

    @foreach (var item in Model)
    {


        <li>

            <a style="text-decoration:none; color:#666666; font-size:14px; z-index:999; font-family:'Lato', sans-serif" href="@Url.Action("Details", new { id=item.ContentID })"> @item.ContentTitle</a>

        </li>


    }


</ul>