@model CTL.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Account Pending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">

     body{


        background-color:#fff;
        font-family: 'Roboto', sans-serif;
        color:#666;
        overflow-x:hidden;

        }


</style>





    <div class="alert alert-info">
        
        
        <div class="row">

            <div class="col-md-10"><h2><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;YOUR ACCOUNT IS CURRENTLY PENDING. Our staff is processing your request and will contact you within 3 business days. Thank you for your patience.</h2></div>



        </div>
        <br />
        
        
        <div align="right">
            
            <a id="homeLink" class="btn btn-default" style="text-decoration:none"
   href="@Url.Action("Index", "Home")">
    Return to Home
</a>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    @*<script type="text/javascript">

        var images = [
                  "../../Content/images/pic7.jpg",

        ];


        var index = 0, oldIndex;

        //$(document).ready(function () {

        $(function () {



            // Call backstretch for the first time,
            // In this case, I"m settings speed of 500ms for a fadeIn effect between images.
            index = Math.floor((Math.random() * images.length));
            $.backstretch(images[index], {
                speed: 1000
            });

            // Set an interval that increments the index and sets the new image
            // Note: The fadeIn speed set above will be inherited
            //

            //setInterval(function () {
            //    oldIndex = index;
            //    while (oldIndex == index) {
            //        index = Math.floor((Math.random() * images.length));
            //    }
            //    $.backstretch(images[index]);
            //}, 5000);

            // A little script for preloading all of the images
            // It"s not necessary, but generally a good idea
            $(images).each(function () {
                $("<img/>")[0].src = this;
            });

        });





    </script>*@


}
