
@if (ViewBag.Approved == 1) { 


@*<span style="color:green;float:left" class="fa fa-check fa-2x"></span>*@
    <span style="float:left;color:green;font-size:18px"><i class="fa fa-check"></i></span>


}