@model CTL.ViewModels.UserProfileViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "deleteUserForm" }))
{

    @Html.Hidden("UserName", (string)ViewBag.UserName)

    <div style="padding-left:12px">

        <div class="row">

            <div class="col-md-12">

                <h3>Stop Impersonating @ViewBag.Name?</h3>

            </div>

        </div>

        <br />

        <div class="row">

            <div class="col-md-12">

                <div style="padding-right:12px" align="right"><button class="btn btn-bitbucket" type="submit">Stop</button></div>

            </div>

        </div>


        <br />

    </div>

}
