<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <configProtectedData>
    <providers>
      <add name="MyProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,&#xA;                    Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a,&#xA;                    processorArchitecture=MSIL" keyContainerName="MyKeys" useMachineContainer="true"/>
    </providers>
  </configProtectedData>
  <connectionStrings>
    <add name="DefaultConnection1" connectionString="Server=tcp:<server address>;Database=HIDS;UID=CTL;Password=<password>;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="HIDSREntities" connectionString="metadata=res://*/Models.HIDSR.csdl|res://*/Models.HIDSR.ssdl|res://*/Models.HIDSR.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:<server address>;initial catalog=HIDS;persist security info=True;user id=CTL;password=<password>;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <!--<forms loginUrl="~/Account/LogOn" timeout="2880"/>-->
      <!--<forms loginUrl="~/Home/Index" defaultUrl="~/Home/Index" timeout="2880" />-->
      <!--PRODUCTION and TRAINING-->
      <forms name=".HI" loginUrl="portal.aspx" defaultUrl="default.aspx" protection="All"/>
      <!--TESTING-->
      <!--<forms name=".HI" loginUrl="~/Account/LogOn" defaultUrl="~/Account/LogOn" protection="All"/>-->
    </authentication>
    <machineKey validationKey="6C5AD500C4E40077EB8D1D48B549A34B394D485F54C66CF30D281870BB23BB8D606528067A7D87B4C26AC70D730CA8571E3D1FC82D39C9E47A68943241BD373A" decryptionKey="54A47C394423E01334AB150EBA6E29DCDAD8BD3006EE480C18304BCCA61F4208" validation="SHA1" decryption="AES"/>
    <authorization>
      <!--<deny users="?"/>
      <allow users="*"/>-->
    </authorization>
    <membership defaultProvider="HISQLProvider">
      <providers>
        <clear/>
        <!--PRODUCTION-->
        <!--<add name="HISQLProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="HIADMINConnectionString" applicationName="HI" maxInvalidPasswordAttempts="5" passwordAttemptWindow="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="true" enablePasswordRetrieval="false" enablePasswordReset="true" requiresUniqueEmail="true" />
        <add name="ChangePasswordProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="HIADMINConnectionString" applicationName="HI" maxInvalidPasswordAttempts="1" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" enablePasswordRetrieval="false" enablePasswordReset="true" requiresUniqueEmail="true" />-->
        <!--TRAINING-->
        <!--<add name="HISQLProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="TRAINHIADMINConnectionString" applicationName="HI" maxInvalidPasswordAttempts="5" passwordAttemptWindow="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="true" enablePasswordRetrieval="false" enablePasswordReset="true" requiresUniqueEmail="true" />
        <add name="ChangePasswordProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="TRAINHIADMINConnectionString" applicationName="HI" maxInvalidPasswordAttempts="1" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" enablePasswordRetrieval="false" enablePasswordReset="true" requiresUniqueEmail="true" />-->
        <!--DEVELOPMENT-->
        <!--<add name="HISQLProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="TESTHIADMINConnectionString" applicationName="HI" maxInvalidPasswordAttempts="5" passwordAttemptWindow="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="true" enablePasswordRetrieval="false" enablePasswordReset="true" requiresUniqueEmail="true" />
        <add name="ChangePasswordProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="TESTHIADMINConnectionString" applicationName="HI" maxInvalidPasswordAttempts="1" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" enablePasswordRetrieval="false" enablePasswordReset="true" requiresUniqueEmail="true" />-->
      </providers>
    </membership>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>